<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Decesio</title>
</head>
<body>
    <div class="container">

        <div class="main">

            <!-- Sidebar -->
            <div class="sidebar">
                <div class="sidebar-logo">
                    <img src="/img/logo-dark.svg" alt="" class="logo">
                    <span>Decesio</span>
                </div>
                <div class="sidebar-menus">
                    <ul class="sidebar-menu">
                        <li class="menu-item">
                            <a href="/">
                                <span class="flex">
                                    <span class="flex"><img src="/img/home.png" alt="" class="icon"><span class="">Home</span></span>
                                </span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/web/profile">
                                <span class="flex">
                                    <span class="flex"><img src="/img/user.png" alt="" class="icon"><span class="">Profile</span></span>
                                </span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/web/activities">
                                <span class="flex">
                                    <span class="flex"><img src="/img/interface.png" alt="" class="icon"><span class="">Explore</span></span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <ul class="sidebar-menu">
                        <li class="menu-item active">
                            <a href="/web/settings">
                                <span class="flex">
                                    <span class="flex"><img src="/img/settings.png" alt="" class="icon"><span class="">Settings</span></span>
                                </span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="index.html">
                                <span class="flex">
                                    <span class="flex"><img src="/img/logout.png" alt="" class="icon"><span class="">Signout</span></span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Sidebar mobile-->
            <div class="sidebar-mobile d-none" id="sidebar-mobile">
                <div class="sidebar-logo">
                    <img src="/img/logo.svg" alt="" class="logo">
                    <span>Decesio</span>
                </div>
                <div class="sidebar-menus">
                    <ul class="sidebar-menu">
                        <li class="menu-item">
                            <a href="/">
                                <span class="flex">
                                    <span class="flex"><img src="/img/home.svg" alt="" class="icon"><span class="menu-item-label">Home</span></span>
                                </span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/web/profile">
                                <span class="flex">
                                    <span class="flex"><img src="/img/user.svg" alt="" class="icon"><span class="menu-item-label">Profile</span></span>
                                </span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/web/activities">
                                <span class="flex">
                                    <span class="flex"><img src="/img/interface.svg" alt="" class="icon"><span class="menu-item-label">Explore</span></span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <ul class="sidebar-menu">
                        <li class="menu-item active">
                            <a href="/web/settings">
                                <span class="flex">
                                    <span class="flex"><img src="/img/settings.svg" alt="" class="icon"><span class="menu-item-label">Settings</span></span>
                                </span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="index.html">
                                <span class="flex">
                                    <span class="flex"><img src="/img/logout.svg" alt="" class="icon"><span class="menu-item-label">Signout</span></span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>           

            <!-- Main section -->
            <div class="content">

                <!-- Navbar -->
                <div class="navbar navbar-authen">
                    <nav class="navbar-nav">
                        <img src="/img/bell-ring.png" alt="Notification icon" class="navbar-nav-notification-icon" style="inline-size: 40px;">
                        <img src="/img/avatar.png" alt="Profile avatar" class="navbar-nav-profile-avatar">
                    </nav>
                </div>

                <!-- Navbar mobile-->
                <div class="navbar-mobile">
                    <nav class="navbar-nav">
                        <div class="sidebar-logo">
                            <img src="/img/logo.svg" alt="" class="logo">
                        </div>
                        <div class="avatar-and-toggler">
                            <img src="/img/bell-ring.svg" alt="Notification icon" class="navbar-nav-notification-icon" style="inline-size: 40px;">
                            <div class="user-avatar dropdown">
                                <div class="dropdown-avatar flex">
                                    <img src="/img/avatar.png" alt="user avatar" class="avatar navbar-nav-profile-avatar" id="toggle-dropdown">
                                    <i class="ti-angle-down" id="toggle-dropdown"></i>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu">
                                    <ul class="dropdown-items">
                                        <li class="dropdown-item"><a href="/">Home</a></li>
                                        <li class="dropdown-item"><a href="/web/activities">Explore</a></li>
                                        <li class="dropdown-item"><a href="/web/profile">Profile</a></li>
                                        <li class="dropdown-item"><a href="/web/settings">Settings</a></li>
                                        <li class="dropdown-item footer"><a style="display: flex;justify-content: space-between;align-items: center;" href="signin.html"><img src="/img/logout.png" alt=""><span>Sign Out</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>                       

                <!-- Data section -->
                <div class="data-section">
                    <div class="settings-cards">
                        <div class="settings-card" style="box-shadow: none !important;">
                            <div class="settings-card-header">
                                <h3 class="card-header">Profile Privacy</h3>
                            </div>

                            <div class="settings-card-body">
                                <div class="settings-checkbox">
                                    <label for="view-profile-information-checkbox">Allow users to view your profile information</label>
                                    <input type="checkbox" class="switch" id="view-profile-information-checkbox" checked>
                                </div>
                            </div>
                        </div>

                        <div class="settings-card" style="box-shadow: none !important;">
                            <div class="settings-card-header">
                                <h3 class="card-header">Platform Updates</h3>
                            </div>

                            <div class="settings-card-body">
                                <div class="settings-checkbox">
                                    <label for="receive-platform-updates-checkbox">Receive updates about new features and tools</label>
                                    <input type="checkbox" class="switch" id="receive-platform-updates-checkbox">
                                </div>
                            </div>
                        </div>

                        <div class="settings-card" style="box-shadow: none !important;">
                            <div class="settings-card-header">
                                <h3 class="card-header">Push Notifications</h3>
                            </div>

                            <div class="settings-card-body">
                                <div class="settings-checkbox">
                                    <label for="receive-push-notifications-checkbox">Receive web push notifications from our platform</label>
                                    <input type="checkbox" class="switch" id="receive-push-notifications-checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
</body>
</html>